<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="3.2.0" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1" userInstalled="true" />
  <package id="Xamarin.Forms" version="1.4.2.6359" targetFramework="portable45-net45+win8+wp8" userInstalled="true" />
</packages>